body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ccc;
}

nav i {
    font-size: 24px;
    margin-bottom: 5px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
}


.tablinks {
    background-color: #fff;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: width 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabs button {
    float: left;
    background-color: inherit;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 150px;
    max-width: 200px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .tablinks {
        float: none;
    }

    .tabs {
        display: flex;
        flex-direction: column;
    }

    .tabcontent {
        border: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
}
