.tablinks {
    background-color: #fff;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: width 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
    .tablinks {
        float: none;
    }

    .tabs {
        display: flex;
        flex-direction: column;
    }

    .tabcontent {
        border: none;
        margin-bottom: 10px;
    }
}
